* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "black one";
    src: url(../fonts/blackopsone-regular.ttf);
}

@font-face {
    font-family: "spline";
    src: url(../fonts/splinesans.ttf);
}

@font-face {
    font-family: "source sans";
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

$fuente-principal: "black one";
$fuente-secundaria: "spline";
$fuente-terciaria: "source sans";

$color-principal: black;
$color-secundario: white;
$color-terciario: #fd0901;

// body {
//     background: -moz-repeating-linear-gradient(-45deg, #bd030371, #fc2a2a54 30px, #eee 30px, #eee 71px);
//     background: -webkit-repeating-linear-gradient(-45deg, #bd030371, #fc2a2a54 30px, #eee 30px, #eee 71px);
//     background-size: 100px 100px;
//     }

main {
    min-height: 100%;
}

h2,
h3,
h4,
p,
a,
span,
ul,
ol {
    font-family: $fuente-secundaria;
}

ul,ol,li{
    list-style-type: none;
}