* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


@font-face {
    font-family: "black one";
    src: url(../fonts/blackopsone-regular.ttf);
}

@font-face {
    font-family: "spline";
    src: url(../fonts/splinesans.ttf);
}

@font-face {
    font-family: "source sans";
    src: url(../fonts/sourcesanspro-regular.ttf);
}

@font-face {
    font-family: "play";
    src: url(../fonts/play-regular.ttf);
}


$fuente-principal: "black one";
$fuente-secundaria: "spline";
$fuente-terciaria: "source sans";

$color-principal: black;
$color-secundario: white;
$color-terciario: #fd0901;

main {
    min-height: auto;
    background-image: url(../img/back4.jpeg);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;

    @media (min-width: 1024px) {
        min-height: 100vh;
        background-image: url(../img/back3.jpg);
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow: hidden;
    }
}

.scroll-vert {
    min-height: 100vh;
}

h2,
h3,
h4,
p,
a,
span,
ul,
ol {
    font-family: $fuente-secundaria;
}

ul,
ol,
li {
    list-style-type: none;
}