.contacto {
    background-color: rgba(255, 255, 255, 0.288);
    color: $color-principal
}

h2 {
    display: block;
    justify-content: center;
    padding: 15px;
    font-size: 2.2em;
}

.contacto h3 {
    font-family: $fuente-terciaria;
    font-size: 1.8em;
    text-align: center;
    padding: 15px;
}

.cuerpo-contacto {
    display: grid;
    justify-content: center;
}

.formulario-contacto {
    padding: 20px;

    & h4 {
        text-align: center;
        font-size: 2em;
        font-weight: bolder;
    }

    & div {
        padding: 10px;
        font-size: 1.6em;
        width: 50vw;
        border: 2px #333;
        border-radius: 5px;
    }
}

.formulario-contacto,
.trans-mapa {
    text-align: center;
}

.exam {
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
}

.trans {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.411);
    padding-right: 15px;

    & h4 {
        font-size: 1.8em;
        font-weight: bolder;
    }

    & ul {
        font-size: 1.5em;
        font-weight: bold;
    }
}

.mapa {
    width: 90%;
    height: 100%;
    padding: 15px;
}

@media (min-width: 1024px) {
    .cuerpo-contacto {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50%;
        padding-bottom: 20px;
    }

    .espacio {
        width: 40vw;
    }
}