.cuidados {
    font-size: 2em;
    padding-bottom: 20px;
    padding-top: 10px;
}


section h3 a {
    color: $fuente-principal;
    font-size: 0.7em;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 30px;
}

.img-care1 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.tarjeta-48 {
    padding: 20px;
}
