.back-cuidados {
    background-color: rgba(255, 255, 255, 0.288);
}

.cuidados {
    color: $color-principal;
    font-size: 2em;
    padding: 20px;
}

.img-care1 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.tarjeta-48 {
    padding: 20px;

    & h3 {
        color: $color-principal;
    }
    ol,ul {
        color: $color-principal;
    }
}

.btn-primary {
    background-color: black;
}
