.caja-footer {
    position: relative;
    bottom: 0vh;
    text-align: center;
    background-color: $color-principal;
}

.nav-footer {
    font-size: 1.3em;
    color: #aaaaaa;
    list-style: none;
    padding-top: 10px;
    padding-inline-start: 0;

    & a {
        text-align: center;
        text-decoration: none;
        color: #aaaaaa;
    }

    & ul {
        list-style: none;
    }
}

.contacto-footer {
    font-size: 1.2em;
    color: $color-secundario;
    display: flex;
    justify-content: space-around;
    gap: 0.3rem;
    padding-bottom: 10px;

    & a {
        text-decoration: none;
        color: $color-secundario;
    }
}

@media (min-width: 1024px) {
    .nav-footer {
        text-align: center;
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }
}