.caja-footer {
    position: relative;
    bottom: 0px;
    text-align: center;
    background-color: black;
}

.nav-footer {
    font-size: 2rem;
    color: #aaaaaa;
    list-style: none;

    & a {
        text-align: center;
        text-decoration: none;
        color: #aaaaaa;
    }

    & ul {
        list-style-type: none;
        display: inline-flex;
        justify-content: space-between;
        padding: 0.5rem;
    }
}

.contacto-footer {
    font-size: 1rem;
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 0.3rem;

    & a {
        text-decoration: none;
        color: white;
    }
}
