header {
    width: 100%;
    opacity: .75;
    position: sticky;
    top: 0px;
    z-index: 3;
}

.caja-encabezado {
    height: 100%;
    background-color: $color-principal;
}

h1 a {
    color: $color-secundario;
    font-family: $fuente-principal;
    font-size: 1.6em;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav {
    display: none;
}

.bi-list {
    font-size: 3.5em;
    color: $color-secundario;
    display: inline-flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-top: 30px;
}

.bi-instagram {
    font-size: 2.7em;
    color: $color-secundario;
    display: flex;
    padding-right: 20px;
    padding-top: 20px;
}

.insta-tablet {
    display: none;
}

.header-insta {
    display: flex;
    justify-content: space-between;

    & a {
        text-decoration: none;
    }

    & ul li a{
        text-decoration: none;
        color: $color-principal;
        font-size: 2em;
        font-weight: bold;
        background-color: $color-secundario;
    }
}

@media (min-width: 1024px) {
    h1 a {
        font-size: 1.8em;
    }

    .bi-list {
        display: none;
    }

    .nav {
        display: flex;

    }

    .bi-instagram {
        font-size: 1.5em;
    }

    .insta-tablet {
        font-family: $fuente-secundaria;
        font-size: 1em;
        color: $color-secundario;
        font-weight: bold;
        display: flex;
        padding: 10px;
        padding-top: 30px;
    }

    .header-insta {
        display: flex;
        justify-content: end;
        align-items: end;
        gap: 0.2em;

        & h1 {
            display: flex;
            justify-content: start;
            padding-left: 10%;
        }
    }

    .nav-item a {
        font-family: "play";
        font-size: 95%;
        text-decoration: none;
        color: gray;
        gap: 10px;
    }

    .nav-link {
        padding-inline: 10px;
    }
}