.caja-encabezado {
    height: 100px;
    background-color: $color-principal;
    display: flex;
    padding: 10px;
}

header {
    opacity: .75;
    position: sticky;
    top: 0px;
    z-index: 3;
}

h1 a {
    color: $color-secundario;
    font-family: $fuente-principal;
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-header {
    display: none;
}

.insta-tablet {
    display: none;
}

.bi-list {
    font-size: 1em;
    color: $color-secundario;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 1.4em;
    padding-left: 0.3em;
}

.bi-instagram {
    font-size: 0.7em;
    color: $color-secundario;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.bi-chevron-double-up {
    font-size: 30px;
    color: $color-principal;
    position: fixed;
    bottom: 50px;
    right: 20px;
}

@media (min-width: 600px) {

    h1 a {
        font-size: 3rem;
    }

    .bi-list {
        display: none;
    }

    .nav-header {
        background-color: $color-terciario;
        color: $color-principal;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 5px;
        gap: 20px;
        list-style: none;

        & a {
            text-decoration: none;
            color: $color-principal;
            font-weight: bold;
        }
    }
}

@media (min-width:800px) {

    h1 a {
        font-size: 4.5rem;
    }

    .insta-tablet {
        font-family: $fuente-secundaria;
        font-size: 1.3rem;
        color: $color-secundario;
        font-weight: bold;
        display: flex;
    }

    .bi-instagram {
        font-size: 2rem;
    }

    .header-insta {
        display: inline-flex;
        align-items: end;
        gap: 0.2em;
    }
}